ansitable==0.9.10
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
colored==1.4.4
contourpy==1.2.1
cycler==0.12.1
depthai==2.25.0.0
distlib==0.3.8
filelock==3.13.4
fonttools==4.51.0
future==1.0.0
identify==2.5.35
idna==3.7
iso8601==2.1.0
kiwisolver==1.4.5
matplotlib==3.8.4
nodeenv==1.8.0
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pgraph-python==0.6.2
pillow==10.3.0
platformdirs==4.2.0
pre-commit==3.7.0
progress==1.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
roboticstoolbox-python==1.1.0
rtb-data==1.0.1
scipy==1.13.0
serial==0.0.97
setuptools==69.5.1
six==1.16.0
spatialgeometry==1.1.0
spatialmath-python==1.1.9
swift-sim==1.1.0
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.25.2
websockets==12.0
